@import "react-slideshow-image/dist/styles.css";

.menuLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20%;
  width: 20%;
  padding-bottom: 10px;
}

/* logoConfig ======================*/
header {
  padding-bottom: 10px;
}

.header-image {
  background: url("https://cdn.discordapp.com/attachments/352829804057329674/1039624644367491122/sushibackground.png");
  height: 100%;
  width: 100%;
}

/* headerConfig ====================*/
.ulHeader {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: auto;
}

.liHeader {
  float: left;
}

.liHeader a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.liHeader a:hover {
  background-color: #111;
  transition: .3s ease all;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* navbar ==========================*/
form.searchbox input[type=text] {
  overflow: hidden;
  background-color: #e9e9e9;
  float: left;
  padding: 6px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 17px;
  border: none;
}

form.searchbox button {
  float: left;
  padding: 6px;
  margin-top: 10px;
  margin-right: 16px;
  background: #fe646f;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

form.searchbox button:hover {
  background: #ccc;
  transition: .3s ease all;
}

/* inputConfig =====================*/
.useroption {
  text-align: right;
  margin-right: 10px;
  float: right;
  padding: 6px;
  border: none;
  background: none;
  color: #ddd;
  margin-top: 2px;
}

.useroption label {
  font-size: 15px;
  padding: 7px;
}

.useroption:hover {
  background-color: #111;
  transition: .3s ease all;
}

/* userButtons =====================*/
.select {
  margin-left: 10px;
  padding: 6px;
  margin-top: 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.select:hover {
  background-color: #b5b5b5;
  transition: .3s ease all;
}

/* selectConfig ====================*/
.topButtonStyle {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.topButtonStyle:hover {
  background-color: rgb(90, 90, 90);
  transition: .3s ease all;
}

.topButtonStyleHidden {
  display: none;
}

/* topbutton =======================*/
.rrssFooter {
  padding-right: 100px;
  padding-left: 100px;
  margin-top: 0px;
}

.rrssFooterH3 {
  color: #ddd;
  margin-top: 0px;
}

.rrssFooter i {
  padding-right: 10px;
  margin-left: 9px;
  color: #ddd;
}

.rrssFooter i:hover {
  color: #5e5e5e;
  transition: .3s ease all;
}

.infoFooter {
  padding-right: 100px;
  padding-left: 100px;
}

.cartaFooter {
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 16px;
}

.ulFooter {
  list-style-type: none;
  padding: 50px;
  overflow: hidden;
  background-color: #111;
  display: flex;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.liFooter a {
  display: block;
  color: #ddd;
  text-align: left;
  text-decoration: none;
  padding-left: 0px;
  padding-right: 10px;
}

.liFooter a:hover {
  color: #5e5e5e;
  transition: .3s ease all;
}

.ffooter div {
  width: auto;
  height: auto;
  margin: auto;
  text-align: center;
}

.logoFooter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
  padding-bottom: 10px;
  bottom: 0;
}

/* footer ==========================*/
.contentBackground {
  height: auto;
  width: auto;
  z-index: 0;
  background-image: url("https://cdn.discordapp.com/attachments/352829804057329674/1040435343473786931/pageBackground.png");
}

.content {
  text-align: center;
  margin: 10px;
  border: solid;
  box-shadow: 1px 1px 10px 2px rgba(255, 156, 156, 0.712);
  display: relative;
}

.content h1 {
  height: 1000px;
}

/* content==========================*/
.form-element {
  color: #ddd;
  padding: 10px;
  display: block;
  text-align: center;
  cursor: pointer;
}

.form-element label[for="password"] {
  margin-right: 110px;
  font-weight: bold;
}

.form-element label[for="email"] {
  margin-right: 60px;
  font-weight: bold;
}

.form-element a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ddd;
  font-style: italic;

}

.form-element a:hover {
  color: #333;
  transition: .3s ease all;
}

.form-element input[type="text"],
.form-element input[type="password"],
.form-element input[type="tel"] {
  display: block;
  background-color: #e9e9e9;
  float: center;
  padding: 6px;
  margin-top: 10px;
  margin-left: 140px;
  font-size: 17px;
  border: none;
  border-radius: 3px;
  width: auto;
}

.form-element input[type="checkbox"] {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  accent-color: #fe646f;
}

.form-button {
  font-size: 17px;
  padding: 6px;
  font-size: 17px;
  border: none;
  background-color: #ddd;
  margin-bottom: 10px;
}

.form-button:hover {
  background-color: #333;
  transition: .3s ease all;
}


/* formLogin========================*/
.form-elementRegister input[type="text"],
.form-elementRegister input[type="password"],
.form-elementRegister input[type="tel"] {
  display: block;
  background-color: #e9e9e9;
  float: center;
  padding: 6px;
  margin-top: 10px;
  margin-left: 140px;

  font-size: 17px;
  border: none;
  border-radius: 3px;
  width: auto;
}

.form-elementRegister {
  color: #ddd;
  padding: 10px;
  display: block;
  text-align: left;
}

.form-elementRegister label[for="email"],
.form-elementRegister label[for="password"] {
  text-align: left;
  font-weight: bold;
  margin-left: 140px;
}

.form-elementRegister button {
  margin-top: 30px;
  text-align: center;
  margin-left: 210px;
}

.form-elementRegister p {
  padding: 30px;
  text-align: justify;
  font-style: italic;
  color: rgb(92, 92, 92);
}

/* formRegister=====================*/

.slide-container {
  margin: 1em auto;
  align-items: center;
  justify-content: center;
  z-index: 1;
  max-height: 500px;
  max-width: 1010px;
}

.slideButtons {
  text-align: center;
  color: #111;
  border: none;
  background: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 300px;
  opacity: 0.5;
  z-index: 1;
}

.slideButtons:hover {
  opacity: 1;
  z-index: 1;
  transition: .5 ease all;
}

.each-slide>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  min-width: 100%;
  height: 500px;
  width: 1010px;
  z-index: 1;
  overflow: hidden;

}

/* slideshow =======================*/
.content h1 {
  font-size: 2rem;
  padding: 5px 0 0 0;
  color: #ccc;
  height: 20px;
}

.productos {
  padding: 10px 50px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem 4rem;
  box-sizing: border-box;
}

.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, 1);
  border: 6px solid transparent;
  border-radius: 5px;
  background-color: #111;
  width: 300px;
  height: 430px;
  margin-left: -23px;
  z-index: 3;
  position: relative;
}

.description {
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  z-index: 1;
}

.descriptionInfo {
  display: flex;
  opacity: 0;
  z-index: 2;
  overflow: hidden;
  height: 340px;
  width: 300px;
  font-size: 20px;
  cursor: pointer;
  color:  #fe646f;
}

.descriptionItems {
  top: 0;
  left: 0;
  opacity: 1;
  position: absolute;
  z-index: 1;
}

.descriptionInfo:hover {
  opacity: 1;
}

.descriptionInfo:hover+.descriptionItems {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  transition: ease all;
}

.producto_img img {
  width: 300px;
  height: 200px;
}

.price {
  font-size: 2rem;
  color: #fe646f;
}

.producto .boton {
  width: 100%;
  height: 45px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 2rem;
}

.boton .btn {
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 9px;
  margin-left: 60px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.boton button {
  background-clip: #533;
  max-width: 220px;
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  color: #fe646f;
  font-weight: 600;
  font-family: sans-serif;
}

.boton button:hover {
  color: #333;
  transition: .3s ease all;
}

.content {
  margin: auto;
  max-width: 1010px;
  /*1150*/
  min-width: 500px;
  height: auto;
  /*1600*/
  margin: 30px auto;
  background-color: #111;
}


.menu-caract {
  background-color: #fe646f;
  display: relative;
}

/* Productos =======================*/
.seccionUsuario {
  font-size: 40px;
  color: #ccc;
  padding-left: 60px;
  cursor: pointer;
}

.userPageInfo {
  color: #ddd;
  padding: 10px;
  display: block;
  text-align: left;
  width: 300px;
  vertical-align: middle;
}

.userPageInfo h2 {
  font-size: 40px;
  color: #ccc;
  padding-left: 60px;
  width: 400px;
}

.userPageInfo input[type="editable"],
.userPageInfo input[type="non-editable"] {
  display: block;
  background-color: #e9e9e9;
  float: center;
  padding: 6px;
  margin-top: 10px;
  margin-left: 55px;
  font-size: 17px;
  border: none;
  border-radius: 3px;
  width: auto;
}

.userPageInfo input[type="non-editable"] {
  pointer-events: none;
}

.userPageInfo label[for="email"],
.userPageInfo label[for="password"] {
  text-align: left;
  font-weight: bold;
  margin-left: 55px;
}

.mapFormat {
  height: 300px;
  width: auto;
  z-index: 2;
}

.mapContainer {
  height: auto;
  width: auto;
  margin-top: 30px;
  margin: 50px;
  overflow: hidden;
}

/* UserData ========================*/
.scrollWindow {
  height: 600px;
  width: 400px;
  border-style: solid;
  border-color: rgba(255, 156, 156, 0.712);
  float: right;
  margin-top: 50px;
  margin-right: 50px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scrollWindow div {
  margin-left: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.scrollWindowTitle {
  color: #e9e9e9;
  width: 600px;
  float: right;
  cursor: pointer;
}

.scrollHistorialContenido {
  color: #e9e9e9;
}

/* ScrollData ======================*/
.userPageInfo .form-button{
  margin-left: 67px;
}
.scrollOrder .scrollWindow{
  float: left;
  height: 282px;
  
}
.scrollOrder .scrollWindowTitle{
  float: left;
}
.scrollOrder .producto{
  width: auto;
  height: 150px;  
  margin: auto;
  margin-right: 20px;  
}
.scrollOrder .scrollWindow{
margin: 0px;
}
.scrollOrder .scrollWindowTitle{
  height: auto;
  width: 300px;
}
.scrollOrder .form-element{
  float: right;      
  margin-top: 30px;  
}
.scrollOrder .direcciones{
  height: 102px;  
  width: 300px;
  border-style: solid;
  border-color: rgba(255, 156, 156, 0.712);
}
.scrollOrder .userPageInfo{
  width: auto;
  margin-left: 30px;
}
.scrollOrder .userPageInfo input{
  margin: 0px;
}

.scrollOrder .select{
  width: 230px;  
}

.scrollOrderPrices{   
  width: 100px;
  height: 100px;
}
.scrollOrderPrices .direcciones{
  width: 786px;
  height: 150px;
}
.scrollOrderPrices h2{  
  font-size: 25px;
  color: #ccc;  
}
.direcciones h2{
  font-size: 15px;
  margin-left: 10px;
}
/* order ===========================*/

/*==============CONFIGS=============*/
/* logoConfig ======================*/
/* headerConfig ====================*/
/* navbar ==========================*/
/* inputConfig =====================*/
/* userButtons =====================*/
/* selectConfig ====================*/
/* topbutton =======================*/
/* footer ==========================*/
/* content==========================*/
/* formLogin========================*/
/* formRegister=====================*/
/* slideshow =======================*/
/* Productos =======================*/