.shortcut {
    text-align: center;        
    padding: 10px;    
  }
.navbar{
  text-align: left;
  margin-left: 10px;
}
.menuLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 10%;
  width: 10%;  
}
.logo-row{
  text-align: center;
}
header {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #b5b5b5;
}
.useroption{
  text-align: right;
  margin-right: 90px;
  margin-top: -25px;
}